.jogo-da-memória {
  --bg-color: #456ff8;
  --bg-color-light: #c5ccfc;
  --text-color-hover: #FFF;
  --box-shadow-color: rgba(69, 111, 248, 0.48);
}

.quebra-cabeça {
  --bg-color: #f4a428;
  --bg-color-light: #fbdeb2;
  --text-color-hover: #FFF;
  --box-shadow-color: rgba(244, 164, 40, .48);
}

.arraste-e-solte {
  --bg-color: #6c27b8;
  --bg-color-light: #d5c2eb;
  --text-color-hover: #FFF;
  --box-shadow-color: rgba(108, 39, 184, .48);
}

.adição-de-números, .subtração-de-números, .multiplicação-de-números, .divisão-de-números {
  --bg-color: #91ddcf;
  --bg-color-light: #e4f6f4;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(145, 221, 207, .48);
}

.caça-palavras {
  --bg-color: #00da91;
  --bg-color-light: #e0f9ec;
  --text-color-hover: #FFF;
  --box-shadow-color: rgba(0, 218, 145, .48);
}

.palavras-cruzadas {
  --bg-color: #A5D6A7;
  --bg-color-light: #e8f5e9;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(165, 214, 167, .48);
}

.que-animal-é-esse-  {
  --bg-color: #6fa3df;
  --bg-color-light: #F2E8B3;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(111, 163, 223, .48);
}

.que-horas-são- {
  --bg-color: #f8ce45;
  --bg-color-light: #fef7df;
  --text-color-hover: #4C5656;
  --box-shadow-color: rgba(248, 206, 69, .48);
}

.jogo-da-contagem {
  --bg-color: #3c9fff;
  --bg-color-light: #bfe1ff;
  --text-color-hover: #FFF;
  --box-shadow-color: rgba(60, 159, 255, .48);
}

.formas-e-cores {
  --bg-color: #e274dd;
  --bg-color-light: #f2c5f0;
  --text-color-hover: #FFF;
  --box-shadow-color: rgba(226, 116, 221, .48);
}

.container-jogos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Irish Grover';
  margin: 40px auto;
  max-width: 1200px;
  width: 100%;
}

@media (max-width: 1200px) {
  .main-container {
    flex-direction: column;
    max-width: 600px;
  }
  
  .activity-card {
    margin: 0 0 10px 0;
    width: 100%;
  }
}
.submenu{
  font-family: 'Irish Grover';
  background-color: #FB8332;
  color: white;
  padding: 1%;
  text-align: center;
}

.icon-jogo-card {
  padding: 5%;
  width: 90px;
  height: 90px;
}

.card-jogo-nome {
  color: #296494;
  z-index: 1000;
}

.spectacledcoder-card2 {
  display: flex;
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 60px rgb(235, 235, 235), -5px -5px 60px rgb(237, 237, 237);
  border-radius: 18px;
  transition: all 2s;
  align-items: start;
  justify-content: center;
}

.circle2 {
  position: absolute;
  margin: auto;
  margin-top: 35px;
  width: 50px;
  height: 50px;
  background-color: rgb(42, 42, 42);
  border-radius: 50%;
  transition: all 0.5s;
    
}
.spectacledcoder-card2:hover .circle2 {
  margin-top: 0px;
  background-color: rgb(42, 42, 42);
  width: 200px;
  height: 200px;
  border-radius: 15px;
  transition: all 0.5s;
}
.spectacledcoder-card2:hover .content {
  color: white;
}

.card-atividade-aluno {
  width: 230px;
  height: 341px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  margin: 20px;
  border: .6rem solid var(--bg-color);
}

.card-atividade-aluno:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
  border: .5rem solid var(--bg-color-light);
}

.card-atividade-aluno:hover .overlay {
  transform: scale(4) translateZ(0);
}

.card-atividade-aluno:hover .circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.card-atividade-aluno:hover .circle:after {
  background: var(--bg-color-light);
}

.card-atividade-aluno:hover p {
  color: var(--text-color-hover);
}

.card-atividade-aluno:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0,0,0,0.11),
    0 15px 24px var(--box-shadow-color);
}

.card-atividade-aluno p {
  font-size: 20px;
  color: #4C5656;
  z-index: 1000;
  transition: color 0.3s ease-out;
  text-align: center;
}

.circle {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.circle:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}

.circle img {
  z-index: 10000;
  transform: translateZ(0);
}

.overlay {
  width: 118px;
  position: absolute; 
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 70px;
  left: 50px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}