.ways-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.way-option {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
}

.way-text {
  text-decoration: none;
}

.way-text.line-through {
  text-decoration: line-through;
}

.answer-words-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  margin: auto;
  margin-top: 1%;
  border: 0.2rem solid rgb(0, 218, 145);
}

.cacapalavras-game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Garantir que o botão esteja sobre o jogo */
  background-color: #00da91;
  color: #e0f9ec;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1%;
  font-family: 'Irish Grover';
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.start-button:hover {
  background-color: #e0f9ec;
  color: #00da91;
}

.inactive {
  opacity: 0.3; /* Reduz opacidade quando o jogo está desabilitado */
  pointer-events: none; /* Desabilita interação */
  transition: opacity 0.5s ease;
  visibility: hidden;
}

.active {
  opacity: 1; /* Opacidade normal quando o jogo está ativo */
  pointer-events: auto; /* Ativa interação */
  transition: opacity 0.5s ease;
  visibility: visible;
}

.word-puzzle.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.word-puzzle.active {
  opacity: 1;
}

.game-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.hidden {
  display: none;
}

.answer-word {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  color: black;
}

.answer-text {
  text-decoration: none;
  font-family: 'Irish Grover';
}

.answer-text.line-through {
  text-decoration: line-through;
}

.ribbon {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.ribbon {
  --s: 1.8em; /* the ribbon size */
  --d: .8em;  /* the depth */
  --c: .8em;  /* the cutout part */
  
  padding: 0 calc(var(--s) + .5em) var(--d);
  line-height: 1.8;
  background:
    conic-gradient(at left  var(--s) bottom var(--d),
     #0000 25%,#0008 0 37.5%,#0004 0) 0   /50% 100% no-repeat,
    conic-gradient(at right var(--s) bottom var(--d),
     #0004 62.5%,#0008 0 75%,#0000 0) 100%/50% 100% no-repeat;
  clip-path: polygon(0 var(--d), var(--s) var(--d),var(--s) 0,calc(100% - var(--s)) 0,calc(100% - var(--s)) var(--d),100% var(--d),calc(100% - var(--c)) calc(50% + var(--d)/2),100% 100%,calc(100% - var(--s) - var(--d)) 100%,calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) 100%,0 100%,var(--c) calc(50% + var(--d)/2));
  background-color: #2d8b15; /* the main color */
  width: fit-content;
  font-family: 'Gorditas';
}
