body {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(231,231,246,1) 35%, rgba(175,223,253,1) 100%);

}
.puzzle-container {
  max-width: 90%;
  max-height: 60%;
  margin: 40px auto;
  font-family: 'Irish Grover';
  display: flex;
  flex-direction: column;
  align-items: center;
}
.puzzle-game {
  width: 40%;
  height: 40%;
  margin: auto;
  background: #8fcdff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px #8fcdff;
}
.game-menu {
  max-width: 70%;
  max-height: 100%;
}
.start-button {
  padding: 5%;
  margin-top: 5%;
}